<div id = "header" class = "gradient">
	
	<div id = "headerCont">
		<%= link_to (image_tag "logo-border280x125.png", id: "logoImg"), controller: "admin", action: "index"%>
		<h1>Portal Administrativo</h1>
	</div>

</div>

<div class = "clear"></div>