<div id = "footer" class = "gradient">

	<div id = "footerCont">

		<div class = "fColumn">
			<p>Locales de Comida</p>
			<ul>
				<li>Almuerzo / Cena</li>
				<li>Desayuno / Merienda</li>
			</ul>
		</div>

	</div>
</div> 