<div class="container">             
	<div id="slides">
        
    	<img src="/assets/slides/logo1.jpg" alt = "">
		<img src="/assets/slides/logo2.jpg" alt = "">
		<img src="/assets/slides/logo3.jpg" alt = "">
		<img src="/assets/slides/logo4.jpg" alt = "">
	    
    </div>
</div>