<p><%=session[:user_id]%></p>
<h1 class = "title">Explora un mundo sin límites</h1>
<p>
	Tienes ganas de tomar un helado, comer una hamburguesa o un plato tradicional, pero no tienes el suficiente tiempo; tal vez conocer algo nuevo, que sea asequible para tu economía, pero no sabes donde encontrarlo.
</p>
<p>
	En TROVU tenemos la solución, explora en nuestra pagina web una infinidad de negocios que están cerca de tu fuente laboral, casa, colegio o universidad.
</p>
<p>
	El tiempo es algo valioso, por eso en TROVU lo valoramos y te ayudamos a manejarlo para que lo dediques en tu trabajo o en los que amas.
</p>

<h1 class = "title">Es para todos, simplemente comparte...</h1>
<p>
	Nuestra información es para todos, de libre y fácil acceso… Por que todos somos iguales y tenemos los mismos derechos.
</p>
<p>
	Usa TROVU y busca un buen restaurant para compartir con tus amigos un almuerzo, una cena, celebrar tu cumpleaños, tener esa cita especial o para salir un fin de semana con tu familia y convivir momentos inolvidables. En TROVU solo nos interesa tu bienestar y felicidad.
</p>
<p>
	Esa pregunta ¿Ahora donde comemos? o ¿Que comemos? Ya no será un problema, nuestra eficiencia se ve reflejada en la satisfacción de nuestros usuarios.
</p>

<h1 class = "title">Más fácil de usar... Imposible</h1>
<p>
	Muchas páginas tradicionales te obligan a marcar muchas opciones, de las cuales tendrás pocos o casi ningún resultado que satisfaga tus necesidades.
</p>
<p>
	En TROVU tenemos un revolucionario método de búsqueda, eficiente, real, práctico y fácil de usar; cualquier(a) persona puede usar TROVU sin ningún problema o sin tener algún conocimiento técnico.
</p>
<p>
	TROVU es una solución inteligente pensada para tus necesidades. Tu satisfacción y comodidad es el reflejo de la calidad de nuestro trabajo.
</p>

<h1 class = "title">Es libre y sin registros, úsalo donde sea</h1>
<p>
	Cansado de buscar en las páginas tradicionales un restaurant perfecto; pero antes, debes de llenar un tedioso formulario, dando tu información personal, solo para que te llegue correo basura o “spam” y al final no tengas un resultado deseado.
</p>
<p>
	Buscar en TROVU es TOTALMENTE GRATIS, y lo mejor LIBRE DE REGISTROS. Puedes acceder desde cualquier navegador (Google Chrome, Mozilla, Safari, Opera) de tu equipo (PC, Mac, Laptops, Notebook) o dispositivo móvil de cualquier plataforma (Symbian, iOS, Android, Windows Phone). Conéctate a la red y simplemente ENCUENTRA LO QUE QUIERAS .
</p>

<a name = "mision">
<h1 class = "title">Misión</h1>
<p>
	Trovu es una empresa que ofrece a la sociedad un servicio de información que le permite ser eficaz y eficiente al elegir lugares de su necesidad.
</p>

<a name = "vision">
<h1 class = "title">Visión</h1>
<p>
	Ser una empresa que ofrezca a la sociedad información completa y exacta de todos los lugares de la ciudad.
</p>