<!-- Check styles on: info.css-->
<h1 class = "title">Contáctanos</h1>

<p class = "blue-description justified">Trovu es una empresa pensada y dedicada tanto a los negocios jóvenes como a aquellos que poseen una larga trayectoria a: publicitarse, 

promocionarse y tener mayor clientela, de una manera productiva e innovadora; con el objetivo, de llegar a un mayor público de manera fácil, 

económica e interactiva. Los beneficios de pertenecer a Trovu son:</p>

<ul>
	<li>Publicidad gratuita por seis meses.</li>
	<li>Buena Publicidad por un buen precio.</li>
	<li>Visualización de su negocio a través de “Google Maps”.</li>
	<li>Excelente información y actualización constante de su(s) negocio(s).</li>
	<li>Consulta de estadísticas.</li>
	<li>Políticas de seguridad contra el fraude o publicidad engañosa.</li>

</ul>