<p>hola</p>

<script type="text/javascript" src = "/assets/jcarousel.js"></script>
<script type="text/javascript" src = "/assets/jcarousel.basic.js"></script>

<div class="jcarousel-wrapper">             
	<div class="jcarousel">
        <ul>
	    	<li><img src="/assets/imag1.jpg" alt = ""></li>
			<li><img src="/assets/imag2.jpg" alt = ""></li>
			<li><img src="/assets/imag3.jpg" alt = ""></li>
			<li><img src="/assets/imag4.jpg" alt = ""></li>
	    </ul>
    </div>

    <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
    <a href="#" class="jcarousel-control-next">&rsaquo;</a>
    
    <p class="jcarousel-pagination">
        
    </p>
</div>