<h1 class = "title" id = "condiciones-uso">Legal - Condiciones de uso</h1>
<p class = "blue-description centered">Por favor lea atentamente estas condiciones de uso antes de utilizar los servicios ofrecidos por TROVU. Estas condiciones de uso establecen términos y condiciones legales.</p>

<ol>
	<li>Una empresa o usuario al acceder o utilizar el servicio de TROVU, acepta todas las políticas y condiciones de nuestro manual. Estos pueden ser actualizados de manera constante.</li>
	<li>El acceso o visita a paginas son de uso público y no para el beneficio de otras empresas. Para aquellas que roben o hurten información producida por TROVU se aplicaran medidas legales referente a derechos de propiedad intelectual.</li>
	<li>Los usuarios pueden explorar el sitio y ver contenidos sin necesidad de registrarse. En cambio los negocios deben registrarse a TROVU y declarar, garantizar y comprometer a proporcionar a TROVU la información de registro correcta, veraz y completa. No hacerlo constituirá una violación de nuestras Políticas Legales.</li>
	<li>TROVU no reconocerá a: personas que crean cuentas para terceros, utilizar nombres de negocios que no sean reconocidos por los propietarios, negocios cuyos nombres ya estén asociados a TROVU o que estén sujetos a derechos de autor; y, negocios con nombres agresivos, vulgares, obscenos e ilegales.</li>	
	<li>El contenido publico o privado es responsabilidad exclusiva de la persona que origino dicho contenido, TROVU no puede garantizar la autenticidad de los contenidos que los negocios proponen al publico. Pero si podemos denunciar por ley, todo acto de desagravio en contra del público o ciudadanía que esta establecido en la Constitución Política del Estado Plurinacional de Bolivia.</li>
	<li>Los usuarios no podrán comentar o publicar en la información referente a los negocios afiliados, pero si pueden sugerir algunas mejoras en los links de sus paginas oficiales, los cuales están a disposición del publico en general.</li>
	<li>En la página se mantienen buenas normas de urbanidad, por lo tanto, todo comentario o comportamiento agresivo, amenaza o discriminatorio será denunciado por ley, contra aquel(los) o aquella(s) personas que emitan dichas publicaciones en contra del público o ciudadanía, siendo artículos establecidos en la Constitución Política del Estado Plurinacional de Bolivia.</li>
</ol>

<h1 class = "title" id = "privacidad-usuario">Legal – Política de Privacidad - Usuarios</h1>

<p class = "blue-description centered">Trovu es una empresa que se compromete a ofrecerte transparencia en nuestras prácticas de privacidad y control de los datos personales.</p>

<ol>
	<li>Trovu registra automáticamente en nuestro servidor la información de tu navegador o dispositivo, ubicación, dirección IP, información de cookies y los negocios a los cuales tu has visitado. Estos datos son tratados como información NO PERSONAL.</li>
	<li>Trovu NO PUBLICA O COMPARTE tu ubicación a terceros. Solamente utilizamos tu ubicación para darte información de aquellos negocios que estén mas cercanos.</li>
	<li>Todas las consultas a cualquier negocio(s) se realiza(n) de manera virtual, los cuales serán tomados en cuenta para brindarles datos estadísticos de visita a los negocios afiliados.</li>
	<li>Trovu no vende la información proporcionada de los negocios o usuarios, solamente publicitamos la información denuestros afiliados de manera VOLUNTARIA a terceros, bajo FIRMA y AUTORIZACION de los dueños.</li>
	<li>Uno de los propósitos es ayudar a los usuarios a conocer nuevos NEGOCIOS, también brindar la información de promociones o beneficios que brindan los locales, sin embargo TROVU no se hace responsable por fraudes emitidos por los negocios.</li>
	<li>Solamente se podrá divulgar información cuando creamos de buena fe sea necesaria, para cumplir con la ley, hacer cumplir o aplicar nuestras condiciones de uso y otros acuerdos, proteger derechos de nuestros empleados o usuarios; para la protección contra el fraude y reducción de riesgo económico.</li>
</ol>

<h1 class = "title" id = "privacidad-empresas">Legal – Política de Privacidad - Empresas</h1>

<p class = "blue-description centered">Legal – Política de Privacidad - Empresas</p>

<ol>
	<li>Para registrarse a TROVU una empresa deberá llenar un “formulario básico”, cuyas preguntas son: nombre del negocio, dirección, teléfonos de referencia, días, horarios de atención y dirección web o pagina de Facebook o Twitter. La ubicación a través de los mapas de Google corre por cuenta de los responsables de TROVU. Estos datos son tratados como Información pública y serán publicados en la pagina de TROVU para la apreciación de los usuarios.</li>
	<li>En el formulario básico, se solicitarán el nombre del propietario del negocio, carnet de identidad, número de celular y/o correos electrónicos de referencia, con el fin de informar a nuestros afiliados acerca de promociones, ofertas o comunicados que realice TROVU. Estos datos son tratados como información personal y no serán publicados en la pagina de TROVU.</li>
	<li>Trovu no vende la información personal o publica proporcionada de los negocios o usuarios, solamente publicitamos la información de nuestros afiliados, de manera VOLUNTARIA al público, bajo FIRMA y AUTORIZACIÓN de los dueños.
	</li>
	<li>Una vez terminado el registro, una empresa nueva goza de 6 meses de prueba GRATUITOS, esto permite al negocio publicitarse de manera efectiva y a la vez. Por esta razón el registro es totalmente libre, voluntario y sin compromisos.</li>
	<li>Si luego de los 6 meses, una empresa desea continuar en la página de TROVU, está pagará un costo de renovación de Bs. 10 (diez bolivianos) por local y seis meses de registro para negocios pequeños, Bs 20 para negocios medianos; y, Bs 30 para negocios grandes o cadenas de comida. Los afiliados serán notificados por mail acerca de su renovación.</li>
	<li>En caso de ya no continuar con nuestros servicios, los suscritos deberán informar por un correo electrónico y llenar una encuesta de eficiencia. En un periodo de 24 horas toda su información será eliminada de la pagina.</li>
	<li>En TROVU los afiliados podrán añadir información extra como: el contenido de su menú, actividades que haga el negocio (promociones, rebajas, conciertos de grupos en vivo y/u ofertas que hagan al publico). Esto supone un costo adicional, los cuales serán proporcionados por los agentes de TROVU.</li>
	<li>Uno de los propósitos es ayudar a los usuarios a conocer nuevos NEGOCIOS, pero también proporcionar información referente a promociones o beneficios que brindan los locales, sin embargo TROVU no se hace responsable por fraudes emitidos por sus afiliados. Pero si podemos denunciar por ley, todo acto de desagravio en contra del público o ciudadanía que esta establecido en la Constitución Política del Estado Plurinacional de Bolivia.</li>
	<li>Todas las consultas a cualquier negocio(s) se realiza de manera virtual, los cuales serán tomados en cuenta para brindarles datos estadísticos de VISITA A LOS NEGOCIOS DE MANERA MENSUAL. De esta manera, nuestros afiliados podrán observar el interés del público a su(s) negocio(s) y aplicar nuevas estrategias de publicidad, marketing o promociones</li>
	<li>Si una empresa decide terminar su contrato con TROVU, todos los beneficios e historial serán eliminados de nuestra base de datos. </li>
	<li>Solamente TROVU divulgará INFORMACIÓN PERSONAL cuando creamos de buena fe sea necesaria, para cumplir con la ley, hacer cumplir o aplicar nuestras condiciones de uso y otros acuerdos, proteger derechos de nuestros empleados o usuarios; para la protección contra el fraude y reducción de riesgo económico.</li>
</ol>