
<div id = "accordion">


	<%=render "searchResult"%>
	
	<h3>  Esto es un titulo h3</h3>
	<div><p>Este texto tiene que desaparecer</p></div>
	<h3> Esto tambien</h3>
	<div>  <p>Programar usando jquery no es tan complicado</p></div>
	<h3> y deberiamos hacer que se oculte</h3>
	<div><p>solo hay que tener 1 kilo de imaginacion :D</p></div>

</div>

<%= render "initMapResults"%>


<div id = "map-canvas"></div>
<div class = "clear"></div>