
<h4>Nuevo Menu Item</h4>
<div class = "bot-left-border">
<%= form_for :menu_entry, url: empresa_sucursal_menu_entries_path(@empresa, @sucursal) do |f|%>
	
	<%=render 'entry_form', f: f%>
	<%= f.submit %>
<% end %>
</div>
<br><br>
