#locationPicker{
	height: 300px;
	width: 300px;
}

.left-column{
	float: left;
	width: 350px;
}

.right-column{
	float: right;
	margin-right: 0px;
	width: 350px;
}

#new-menu-entry{
	display: block;
}

#new-menu-entry div.bot-left-border{
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	margin-right: 30px;
}

.entry-form{
	padding: 10px;
	border: 3px solid #CD1210;
	border-radius: 5px;
}