<div class = "border border-large">
	<p><b>Nombre:</b> <%=payment_type.name%></p>
	<div class = "small-font">
		<p> <b>Precio:</b> <%=payment_type.amount%> Bs.</p>
		<p> <i><%=payment_type.description%></i></p>
	</div>
</div>