body{
	margin: auto;
	min-width: 970px;
	background: #DDC0C3;
}

#page{
	display: block;
	width: 920px;
	min-height: 320px;
	padding: 30px;
	margin: auto;
	background-color: white;
}

#logoImg{
	float: left;
	margin-top: 30px;
}

#header{
	height: 120px;
}

div.gradient{
	background-image: -webkit-gradient(
		linear,
		right top,
		right bottom,
		color-stop(0.34, #E33D48),
		color-stop(0.88, #7D0C1B)
	);
	background-image: -o-linear-gradient(bottom, #E33D48 34%, #7D0C1B 88%);
	background-image: -moz-linear-gradient(bottom, #E33D48 34%, #7D0C1B 88%);
	background-image: -webkit-linear-gradient(bottom, #E33D48 34%, #7D0C1B 88%);
	background-image: -ms-linear-gradient(bottom, #E33D48 34%, #7D0C1B 88%);
	background-image: linear-gradient(to bottom, #E33D48 34%, #7D0C1B 88%);
}

#headerCont{
	width: 960px;
	margin: auto;
}

#searcher{
	float: right;
	width: auto;
	margin-top: 30px;
}
#searcher input{
	font-size: 20px;
	height: 30px;
}

input#word{
	font-size: 20px;
	font-style: italic;
	width: 200px;
	padding-left: 18px;
}

input#word:focus{
	font-style: normal;
}

input.submitSearch{
	position: relative;
	left: 0px;
	width: 30px;
	height: 30px;
	border: none;
	background: none;
	background-image: url(/assets/searchImg.png);
	background-size: 30px 30px;
	background-position: center center;
	background-repeat: no-repeat;
}

input.submitSearch:hover{
	background-image: url(/assets/searchImgHover.png);
}

#footer{
	height: 200px; 
}


