div.index-side-menu-container{
	float: left;
	width: 220px;
}

ul.index-side-menu{
	margin-right: 20px;
	list-style: none;
	margin-top: 50px;
	padding: 0px;
}

ul.index-side-menu li{
	display: block;
	margin-right: 20px;
	margin-bottom: 7px;
}

ul.index-side-menu a{
	background: url(/assets/favicon.png) no-repeat center left;
	background-color: #CD1210;
	display: block;
	height: 30px;
	font-size: 20px;
	padding: 10px 5px 5px 35px;
	border: 2px solid #000000;
	border-radius: 25px;
	color: #eeeeee;
	text-decoration: none;
}

ul.index-side-menu a:hover{
	color: #eeeeee;
	background-color: #AB110F;
}

#index-ad{
	height: 350px;
	width: 200px;
	margin-top: -350px;
	float: right;
	z-index: 20;
	border: 2px solid #000000;
	border-radius: 10px;
}