body{
	font-family: 'Lato', sans-serif;
	font-style: bold;
	margin: auto;
	min-width: 1000px;
	background: #DDC0C3;
}
div.clear{
	clear:both;
	height:0px;
	overflow:hidden;
	margin: 0px;
}

#page{
	display: block;
	width: 920px;
	min-height: 320px;
	padding: 30px;
	padding-top: 40px;
	margin: auto;
	background-color: white;
}

#logoImg{
	float: left;
	margin-top: 30px;
	margin-bottom: -37px;
}

#header{
	height: 120px;	
}
#mainMenu{
	list-style: none;
	margin: 0px;
}

#mainMenu li{
	position: relative;
	float: left;
	margin: 0px;
	margin-top: 86px;
	padding: 0px;
}

#mainMenu .hiddenMenu{
	position: absolute;
	margin-top: 2px;
	z-index: 20;
}

#mainMenu .hiddenMenu td{
	position: relative;
	padding: 7px;
	width: 100px;
	margin-top: 32px;
}

#mainMenu a{
	position: relative;
	z-index: 30;
	margin-top: 0px;
	margin-left: 15px;
	padding: 5px;
	border-radius: 10px 10px 0px 0px;
	border: 2px solid #AB110F;
	border-bottom: 0px;
	color: #eeeeee;
	float: left;
	font-size: 18px;
	font-style: bold;
	text-decoration: none;
}

#mainMenu a:hover, #mainMenu a.hovered,
div.fColumn a:hover{
	background-color: #AB110F;
}

.hiddenMenuContainer{
	color: #eeeeee;
	margin-top: 32px;
	padding: 5px;
	background-color: #AB110F;
	border-radius: 0px 0px 10px 10px
}

.hiddenMenuContainer td:hover{
	background-color: #CD1210;
}

div.gradient{
	background-color: #CD1210; /* Color de header */
}

#headerCont{
	width: 960px;
	margin: auto;
}

#searcher{
	float: right;
	width: auto;
	margin-top: 30px;
}
#searcher input{
	font-size: 20px;
	height: 30px;
}

input#word{
	font-size: 20px;
	font-style: italic;
	width: 200px;
	padding-left: 18px;
}

input#word:focus{
	font-style: normal;
}

input.submitSearch{
	position: relative;
	left: 0px;
	width: 30px;
	height: 30px;
	border: none;
	background: none;
	background-image: url(/assets/searchImg.png);
	background-position: center bottom;
	background-repeat: no-repeat;
}

input.submitSearch:hover{
	background-image: url(/assets/searchImgHover.png);
}

.fb-like{
	margin-top: 15px;
}

#footer{
	height: 200px; 
}

#footerCont{
	padding-top: 15px;
	width: 920px;
	position: relative;
	margin: auto;
}

#footer a{
	color: #ffffff;
	text-decoration: none;
}

div.fColumn{
	color: white;
	font-size: 15px;
	float: left;
	margin-left: 20px;
	link: white;
	vlink: white;
	alink: red;
}

div.fColumn ul{
	list-style: none;
	padding: 10px;
}
